*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: #464442;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  margin: 60px auto;
  max-width: 500px;
  height: calc(100vh - 120px);

  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0 0 50px;
}

.lead {
  font-size: 1.35rem;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}

label > span {
  display: inline-block;
  width: 9rem;
  text-align: left;
}

input[type=range] {
  width: 75%;
  margin-bottom: 15px;
}

input[type=number] {
  padding: 2px;
  width: 9rem;
}

button[type=submit] {
  padding: 10px 39px;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f28a1b;
  color: #fff;
  cursor: pointer;
}